
<section class="p-section">
    <section>
        <div class="p-titol">
            <h1>Productes del Mercadona</h1>
        </div>

        <div>
            <div class="p-tenda">

                <!-- "Model" es converteix autamaticament en el model 
                que li hem passat al controlador -->

                @foreach (var producte in Model)
                {


                    if (producte.Imatge == "/imatges/cocacola.webp"){
                        <figure>
                            <img src="@producte.Imatge" class="cocacola"/>
                            <figcaption>@producte.Nom</figcaption>
                        </figure>
                        <br />
                        <button></button>
                    } else {
                        <figure>
                            <img src="@producte.Imatge" />
                            <figcaption>@producte.Nom</figcaption>
                        </figure>
                    }
                }




            </div>

        </div>
    </section>
    <div>

        <!-- Aqui hi haura el formulari -->

        
            <h2>Afegir productes a la cesta</h2>

            @foreach (var producte in Model)
            {
            <form asp-action="AgafarProductes" asp-controller="Cistell" method="post">
                <!-- Enviem sol 1 cuantitat dels productes seleccionats, a la vista cistell ja modificarem la cuantitat -->
                <input type="hidden" name="CodiProducteFormulari" value="@producte.CodiProducte" />
                <input type="hidden" name="QuantitatFormulari" value="1" />
                <button type="submit">@producte.Nom</button>
            </form>

            }
        
            
        

    </div>
</section>
