@{
    var cistell = ViewData["Cistell"] as Cistell_de_la_compra.Models.Cistell;
}
<section class="factura">
    <div>
        <h1>Factura compra productes</h1>
        <br /><br /><br />
        <p>Continguts:</p>
        @{
            double total = 0;
        }
        <table>
            <tr>
                <th>Nom</th>
                <th>Quantitat</th>
                <th>Preu</th>
            </tr>
            @foreach (var producte in Model)
            {

                {
                    int quantitat = 0;
                    if (@producte.CodiProducte == "001")
                    {
                        quantitat = cistell.Patata;
                    }
                    if (@producte.CodiProducte == "002")
                    {
                        quantitat = cistell.Cocacola;
                    }
                    if (@producte.CodiProducte == "003")
                    {
                        quantitat = cistell.Lejia;
                    }

                    if(quantitat > 0){
                        <tr>
                            <td>@producte.Nom</td>
                            <td>
                                @quantitat

                            </td>
                            <td>

                                @{
                                    double preu = 0;
                                    if (@producte.CodiProducte == "001")
                                    {
                                        preu = quantitat * @producte.Preu;
                                    }
                                    if (@producte.CodiProducte == "002")
                                    {
                                        preu = quantitat * @producte.Preu;
                                    }
                                    if (@producte.CodiProducte == "003")
                                    {
                                        preu = quantitat * @producte.Preu;
                                    }
                                    total += preu;
                                }
                            @preu
                            
                                
                        </td>
                    </tr>



                    
                    }else
                    {
                        <tr class="hidden">
                            <td>@producte.Nom</td>
                            <td>
                                @quantitat

                            </td>
                            <td>

                                @{
                                    double preu = 0;
                                    if (@producte.CodiProducte == "001")
                                    {
                                        preu = quantitat * @producte.Preu;
                                    }
                                    if (@producte.CodiProducte == "002")
                                    {
                                        preu = quantitat * @producte.Preu;
                                    }
                                    if (@producte.CodiProducte == "003")
                                    {
                                        preu = quantitat * @producte.Preu;
                                    }
                                    total += preu;
                                }
                                @preu
                            </td>
                        </tr>
                    }
                }
                        

            }
            </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <p>
            Total: <b>@total $</b>
        </p>
        </div>
    </section>

