@{
    var cistell = ViewData["Cistell"] as Cistell_de_la_compra.Models.Cistell;
}

<section class="cistella">
    <div class="titol">
        <h1>Cistell de la compra</h1>
    </div>

    <div class="content">
        <form asp-action="ActualitzarCistell2" asp-controller="Cistell" method="post">
        <table>
            <tr>
                <th>Id</th>
                <th>Nom producte</th>
                <th>Quantitat</th>
            </tr>
            @foreach (var producte in Model)
            {
         
                        {
                            int quantitat=0;
                            string nom = "";
                            if(@producte.CodiProducte == "001"){
                                quantitat = cistell.Patata;
                                nom = "Patata";
                            }
                            if (@producte.CodiProducte == "002")
                            {
                                quantitat = cistell.Cocacola;
                                nom = "Cocacola";
                            }
                            if (@producte.CodiProducte == "003")
                            {
                                quantitat = cistell.Lejia;
                                nom = "Lejia";
                            }
                        

                            @if(quantitat > 0){
                                <tr>
                                <td>@producte.CodiProducte</td>
                                <td>@producte.Nom</td>
                                    <td>
                                        <input type="number" name="@nom" value="@quantitat" min="0" />
                                    </td>
                                </tr>




                            
                            }else{
                                <tr class="hidden">
                                    <td>@producte.CodiProducte</td>
                                    <td>@producte.Nom</td>
                                    <td>
                                        <input type="number" name="@nom" value="@quantitat" min="0" />
                                    </td>
                                </tr>
                            }


                  
                        }
                
            }
            </table>


            <button type="submit">Comprar</button>
        </form>
    </div>
</section>






